

h1, h2, h3, h4 {
    color: #0f2d41;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

a {
    color: #1b7a9e;
    font-size: 14px;
}

a:visited {
    color: #1b7a9e;
}

.wy-nav-top {
    background-color: #0f2d41; !important;
}

.wy-nav-top a:visited {
    color: #fff;
}

.wy-side-nav-search {
    background-color: #205d87!important;
}

.wy-side-nav-search a:visited {
    color: #fff;
}

.wy-side-scroll {
    background-color: #0f2d41;
}

.wy-nav-side {
    background-color: #0f2d41;
}

thead {
    background-color: #0f2d41;
}

.head {
    color: #fff;
}

.wy-side-nav-search input[type=text] {
    border-radius: 2px;
    height: 40px;
    font-size: 14px;
    border-color: #205d87;
}

.wy-menu-vertical a {
    color: #fff;
    font-size: 15px;

}

.wy-menu-vertical a:hover {
    background-color: #205d87;
}

.wy-menu-vertical li.toctree-l1.current>a {
    border-bottom: solid 1px #205d87;
    border-top: solid 1px #205d87;
}

.wy-menu-vertical li.toctree-l2.current>a {
    background-color: #205d87;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    background-color: rgba(0, 0, 0, 0.87);
}

.wy-menu-vertical li.current>a {
    background-color: #205d87;
    color: #fff;
}

.wy-menu-vertical li.current>a {
    background-color: #205d87;
    color: #fff;
}

.wy-menu-vertical li.current ul {
    background-color: #205d87;
    color: #fff;
}

.wy-menu-vertical li.toctree-l2 a {
    color: #fff;
    border-right: rgba(0, 0, 0, 0.87);
}

.wy-menu-vertical li.current>a:hover {
    background-color: #205d87;
}

.wy-menu-vertical li.toctree-l2 a:hover {
    color: #fff;
    background-color: #205d87;
}

.rst-content .attention {
    background-color: #f7c852;
}

.rst-content .attention .admonition-title {
    background-color: #eeb541;
}

.toctree-l1:last-child .external {
    display: block;
    background-color: #205d87;
    color: #fff;
    text-transform: uppercase;
    margin: 1rem 0 0 0;
}

#guide > div.toctree-wrapper.compound > ul > li:nth-child(7){
    display: none;
}

.toctree-l1 .external:hover {
    background-color: #205d87;
}